.home-page {
  background-color: #f4f5f7;
  position: relative;
  width: 100%;
  height: fit-content;

  a {
    text-decoration: none;
    color: #fff;
    font-family: "Charlie-Display-Semibold";
  }

  .header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #fafbfc;
    padding-inline-start: 1rem;

    .logo {
      font-size: 2rem;
      font-family: "Charlie-Display-Semibold";
      margin-inline-end: 1rem;

      span {
        color: #0065ff;
      }

      span:last-of-type {
        color: #253858;
        margin-top: 0.1rem;
      }
    }

    .login-btn {
      cursor: pointer;
      color: white;
      background-color: #0065ff;
      font-family: "Charlie-Display-Semibold";
      font-size: 1.2rem;
      height: 100%;
      padding: 0.5rem;
      width: 200px;
      text-align: center;

      &:hover {
        &:hover {
          filter: none;
          background-color: rgb(7, 71, 166);
        }
      }
    }
  }

}

.el-carousel {
  aspect-ratio: 72.4/48.7;
  height: 100%;
  width: 100%;

  .carousel-img {
    aspect-ratio: 72.4/48.7;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 6px;
  }
}