.home-page {
  position: relative;
  width: 100%;
  height: fit-content;

  a {
    text-decoration: none;
    color: #fff;
    font-family: "Charlie-Display-Semibold";
  }

  .header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #fafbfc;
    padding-inline-start: 1rem;

    .logo {
      font-size: 2rem;
      font-family: "Charlie-Display-Semibold";
      margin-inline-end: 1rem;

      span {
        color: #0065ff;
      }

      span:last-of-type {
        color: #253858;
        margin-top: 0.1rem;
      }
    }

    .login-btn {
      cursor: pointer;
      color: white;
      background-color: #0065ff;
      font-family: "Charlie-Display-Semibold";
      font-size: 1.2rem;
      height: 100%;
      padding: 0.5rem;
      width: 200px;
      text-align: center;

      &:hover {
        &:hover {
          filter: none;
          background-color: rgb(7, 71, 166);
        }
      }
    }
  }

  section:nth-of-type(2) {
    position: relative;
    top: 60px;
    background-image: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));

    .wave {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #fafbfc;
    }

    .demo-invite {
      padding: 2rem;
      z-index: 100;

      color: #fff;

      .img1 {
        margin-top: 5rem;
        width: 580px;
      }

      h1 {
        margin-top: 0rem;
        font-family: "Charlie-Display-Semibold";
        font-size: rem(48px);
        line-height: 1.25;
        width: 480px;
      }

      p {
        font-size: 1.5rem;
      }

      .btn-demo {
        @include btn-add-save($type: "save");
        font-family: "Charlie-Display-Semibold";
        padding: 1rem 3rem;
        box-shadow: outset 0px 0px 1px 1px rgb(0 0 0 / 10%);
        font-size: 2rem;
        background-color: #0065ff;

        &:hover {
          cursor: pointer;
          filter: none;
          background-color: rgb(7, 71, 166);
        }
      }
    }

    // border: 1px solid gold;
  }

  .product {
    color: #091e42;
    font-family: NunitoSans-Bold;

    .product-info {
      display: flex;
      margin: auto;
      flex-direction: column;
      font-size: 20px;
      width: 80%;
      padding: 1rem;
      text-align: center;
      max-width: 750px;

      h2 {
        margin-block-end: 8px;
      }

      h2 {
        padding: 0 0 16px;
      }

      p a {
        color: #0065ff;
        text-decoration: underline;

        &:hover {
          color: #0747a6;
        }
      }
    }

    .product-guide {
      background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
    }

    .product-guide-preview {
      width: 90%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: auto;

      .guide-cards {
        width: 100%;
      }

      .guide-card {
        width: 100%;
      }

      .guide-carousel {
        width: 90%;
        padding: 0 1em 1rem;
        margin: auto;
      }

      @include for-normal-layout {
        width: 100%;
        max-width: 750px;
        padding: 16px 0px 80px;
        flex-direction: row;

        @include for-wide-layout {
          max-width: 1140px;
        }


        .guide-cards {
          width: 33%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          -webkit-box-pack: justify;
          gap: 1rem;
          padding: 1rem;
        }

        .guide-carousel {
          width: 67%;
          padding: 1rem;
          margin: 0px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    .demo-invite {
      & * {
        width: 100% !important;
      }

      width: 100% !important;
      padding: 1rem !important;
      flex-direction: column;
      margin: 0;

      img {
        // width: 80% !important;
        margin-top: 1rem !important;
      }
    }

    .btn-demo {
      text-align: center;
    }
  }
}

.el-carousel {
  aspect-ratio: 72.4/48.7;
  height: 100%;
  width: 100%;

  .carousel-img {
    aspect-ratio: 72.4/48.7;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 6px;
  }
}