@font-face {
  font-family: trellicons;
  src: url(../../fonts/trellicons.ttf);
}

@font-face {
  font-family: Charlie-Text;
  src: url(../../fonts/charlie-text-regular.woff);
}

@font-face {
  font-family: Charlie-Text-Semibold;
  src: url(../../fonts/charlie-text-semibold.woff);
}

@font-face {
  font-family: Charlie-Display-Semibold;
  src: url(../../fonts/charlie-display-semibold.woff);
}
