.data-gutter {
    margin-left: 40px;
    margin-top: 8px;
    height: fit-content;
    // background-color: red;
}

.due-data {
    max-width: 100%;
    display: block;

    @include for-mobile-layout {
        margin-top: 50px;
    }
}


.data-gutter-card {
    max-width: 100%;
    display: block;
    margin: 0 8px 8px 0;

    @include for-normal-layout {
        float: left;
    }

    &-title {
        color: #5e6c84;
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        line-height: 20px;
        margin: 0 8px 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.label-data-item {
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    float: left;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    min-width: 40px;
    padding: 0 12px;
    width: auto;
    cursor: pointer;
}

.add-data-gutter-btn {
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
    border-radius: 3px;
    float: left;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #e1e4e8;
    cursor: pointer;

    &:hover {
        background-color: #d9dadd;
    }
}

.round-data-btn {
    border-radius: 50%;
}


.member-data-item {
    display: inline-block;
}