// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// // Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";


// Pages
@import 'pages/home-page';
@import 'pages/board-app';
@import "pages/login-signup";
@import "pages/work-space";
@import "pages/login-signup";

//  Components

// General
@import "cmps/general/app-header";
@import "cmps/general/toolbar";
@import "cmps/general/avatar";
@import "cmps/general/menu";
@import "cmps/general/loader";

// Workspace
@import "cmps/work-space/board-list";
@import "cmps/work-space/board-preview";
@import "cmps/work-space/new-board";

// Group
@import "cmps/group/group-list";
@import "cmps/group/group-preview";

// Task
@import "cmps/task/task-preview";
@import "cmps/task/task-list";
@import "cmps/task/task-details";
@import "cmps/task/task-sidebar";
@import "cmps/task/task-description";
@import "cmps/task/task-activity";
@import "cmps/task/task-checklists";
@import "cmps/task/data-gutter";
@import "cmps/task-atachment-modal";
@import "cmps/task-atachment-preivew";
@import "cmps/task-dates";
@import "cmps/task-date-preview";
@import "cmps/edit-preview";

//menu
@import "cmps/menu/main-menu";
@import "cmps/menu/color-menu";
@import "cmps/menu/filter-menu";
@import "cmps/menu/archive-menu";


// Modals
@import "cmps/modals/dynamic-modal-cmp";
@import "cmps/modals/member-modal";
@import "cmps/modals/member-actions";
@import "cmps/modals/label-modal";
@import "cmps/modals/label-create";
@import "cmps/modals/label-change";
@import "cmps/modals/checklist-modal";
@import "cmps/modals/cover-modal";
@import "cmps/modals/imges-modal";
@import "cmps/modals/action-modal";
@import "cmps/modals/ai-modal";
@import "cmps/modals/account-actions";
@import "cmps/modals/more-members";
@import "cmps/modals/modal-delete";


@import "cmps/modals/generic-modal-helpers";

// Dashboard
@import "cmps/dashboard/dashboard";
@import "cmps/dashboard/dashboard-chart";
  





@-webkit-keyframes wobble-top-on-hover {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes wobble-top-on-hover {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .wobble-top-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .wobble-top-on-hover:hover,
  .wobble-top-on-hover:focus,
  .wobble-top-on-hover:active {
    -webkit-animation-name: wobble-top-on-hover;
    animation-name: wobble-top-on-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
  }
  