.dynamic-filter {
    min-width: 190px;
    width: 304px;
    cursor: auto;
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
    margin: 0;
    left: -55px;
    background-color: #ffffff;
    padding: 0 10px 10px;
    z-index: 100;
    color: #172b4d;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    border-radius: 3px;
    cursor: pointer;

    h3 {
        border-bottom: 1px solid #00000014;
        padding-block: 10px;
        margin-block-start: 10px;
        font-weight: bold;
        padding: 0.5rem;
        font-size: 14px;
    }

    li {
        display: grid;
        grid-template-columns: 45px 1fr 30px;
        grid-template-rows: 40px;
        align-items: center;

        &:hover {
            background-color: rgba(#172b4d, 0.1);

            .star-wrapper {
                &.no-starred {
                    display: block;
                }
            }

        }

        &:first-of-type {
            padding-top: 10px;
        }

        div {
            display: inline-block;
            flex: 0 0 auto;
            background-size: cover;
            border-radius: 3px;
            height: 32px;
            width: 40px;
            position: relative;
            opacity: 1
        }
    }

    p {
        text-align: start;
        margin-left: 4px;
        break-inside: break-word;
        color: #172b4d !important;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }

    .star-wrapper {
        margin-top: 9px;

        svg {
            stroke: #172b4d;
            display: block;
        }

        &.starred {
            svg {
                stroke: none;
                fill: #f2d600;
                width: 18px;
                opacity: 1;
            }
        }

        &.no-starred {
            display: none;

            svg {
                fill: black;
            }
        }
    }
}

.search {
    border-radius: 5px;
    background-color: #FFFFFF14;
    border: 1px solid #FFFFFF14;
    height: 32px;
    width: 250px;
    box-shadow: none;
    cursor: pointer;

    ::placeholder {
        color: #fff;
    }

    input {
        cursor: pointer;
        color: #fff;
        width: 100%;
        background-color: rgba(white, 0.1);
        border: 1px solid rgba(#172b4d, 0.2);
        background-color: transparent;
        outline: none;
        border: none;
    }

    svg {
        height: 20px;
        width: 20px;
        fill: #FAFBFC;
        margin: 2px 4px 0;
    }
}

.modal-star-nav {

    h3 {
        border-bottom: 1px solid #00000014;
        padding-block: 10px;
        margin-block-start: 10px;
        font-weight: bold;
        padding: 0.5rem;
    }

    li {
        display: grid;
        grid-template-columns: 45px 1fr 30px;
        grid-template-rows: 40px;
        align-items: center;

        &:hover {
            background-color: rgba(#172b4d, 0.1);
        }

        &:first-of-type {
            padding-top: 10px;
        }

        div {
            margin-top: -5px;
            height: 20px;
            width: 26px;
            border-radius: 3px;
        }

    }

    p {
        text-align: start;
        break-inside: break-word;
        font-size: 0.75rem;
        color: #172b4d !important;
    }

    .star-wrapper {
        cursor: pointer;

        svg {
            stroke: #172b4d;
        }

        &.starred {
            svg {
                stroke: none;
                fill: #f2d600;
            }
        }

        &.no-starred {
            svg {
                fill: #f2d600;
            }
        }
    }
}

.filter {
    flex-grow: 1;
    position: relative;
    z-index: 10;
    margin-right: 8px;

    &>* {
        @include btn-filter($type: dark);
        margin-inline-end: -5px;
        background: transparent;

        svg {
            height: 16px;
            width: 16px;
            fill: #FAFBFC;
            transform: translateY(12%);
        }
    }
}

.boards {
    .dynamic-filter {
        @include for-narrow-layout {
            left: 0px;
        }
    }
}

.recent {
    .dynamic-filter {
        @include for-narrow-layout {
            left: 33%;
        }
    }
}

.stared {
    .dynamic-filter {
        @include for-narrow-layout {
            left: 68%;
        }
    }
}