.dynamic-filter {
    .empty-star {
        margin-inline-start: -7px;
        font-size: 14px;
        font-weight: 600;
    }

    li {
        display: grid;
        grid-template-columns: 45px 1fr 30px;
        grid-template-rows: 40px;
        align-items: center;
        margin-inline-start: -30px;

        &:hover {
            background-color: rgba(#172b4d, 0.1);

            .star-wrapper {
                &.no-starred {
                    display: block;
                }
            }

        }

        div {
            display: inline-block;
            flex: 0 0 auto;
            background-size: cover;
            border-radius: 3px;
            height: 32px;
            width: 40px;
            position: relative;
            opacity: 1;
            cursor: pointer;

        }
    }

    p {
        text-align: start;
        margin-left: 4px;
        break-inside: break-word;
        color: #172b4d !important;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }

    .star-wrapper {
        margin-top: 9px;

        svg {
            stroke: #172b4d;
            display: block;
        }

        &.starred {
            svg {
                stroke: none;
                fill: #f2d600;
                width: 18px;
                opacity: 1;
            }
        }

        &.no-starred {
            display: none;

            svg {
                stroke: none;
                fill: black;

                &:hover {
                    fill: #f2d600;
                }
            }
        }
    }
}

.search {
    border-radius: 5px;
    background-color: #FFFFFF14;
    border: 1px solid #FFFFFF14;
    height: 32px;
    width: 250px;
    box-shadow: none;
    cursor: pointer;
    z-index: 200;


    ::placeholder {
        color: #fff;
    }

    input {
        cursor: pointer;
        color: #fff;
        width: 100%;
        background-color: rgba(white, 0.1);
        border: 1px solid rgba(#172b4d, 0.2);
        background-color: transparent;
        outline: none;
        border: none;
    }

    svg {
        height: 20px;
        width: 20px;
        fill: #FAFBFC;
        margin: 2px 4px 0;
    }
}

.modal-star-nav {
    z-index: 10000;

    h3 {
        border-bottom: 1px solid #00000014;
        padding-block: 10px;
        margin-block-start: 10px;
        font-weight: bold;
        padding: 0.5rem;
    }

    li {
        display: grid;
        grid-template-columns: 45px 1fr 30px;
        grid-template-rows: 40px;
        align-items: center;

        &:hover {
            background-color: rgba(#172b4d, 0.1);
        }

        &:first-of-type {
            padding-top: 10px;
        }

        div {
            margin-top: -5px;
            height: 20px;
            width: 26px;
            border-radius: 3px;
        }

    }

    p {
        text-align: start;
        break-inside: break-word;
        font-size: 0.75rem;
        color: #172b4d !important;
    }

    .star-wrapper {
        cursor: pointer;

        svg {
            stroke: #172b4d;
        }

        &.starred {
            svg {
                stroke: none;
                fill: #f2d600;
            }
        }

        &.no-starred {
            svg {
                fill: #f2d600;
            }
        }
    }
}

.filter {
    margin-right: 5px;

    &>* {
        @include btn-filter($type: dark);
        margin-inline-end: -5px;
        background: transparent;
    }
}

.filter-width {
    display: none;
}

@media screen and (max-width: 700px) {
    .filter {
        display: none;
    }

    .filter-width {
        display: block;

        &>* {
            @include btn-filter($type: dark);
            margin-inline-end: -5px;
            background: transparent;
        }
    }

    .hidden-block {
        display: block;
    }

    .hidden-none {
        display: none;
    }
}



.dynamic-filter-search {
    min-width: 190px;
    width: 284px;
    cursor: auto;
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
    margin: 0;
    left: -15px;
    background-color: #ffffff;
    padding: 0 10px 10px;
    z-index: 200;
    color: #172b4d;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    border-radius: 3px;
    cursor: pointer;

    li {
        display: grid;
        grid-template-columns: 45px 1fr 30px;
        grid-template-rows: 40px;
        align-items: center;

        &:hover {
            background-color: rgba(#172b4d, 0.1);

            .star-wrapper {
                &.no-starred {
                    display: block;
                }
            }

        }

        div {
            display: inline-block;
            flex: 0 0 auto;
            background-size: cover;
            border-radius: 3px;
            height: 32px;
            width: 40px;
            position: relative;
            opacity: 1
        }
    }

    p {
        text-align: start;
        margin-left: 4px;
        break-inside: break-word;
        color: #172b4d !important;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }

    .star-wrapper {
        margin-top: 9px;

        svg {
            stroke: #172b4d;
            display: block;
        }

        &.starred {
            svg {
                stroke: none;
                fill: #f2d600;
                width: 18px;
                opacity: 1;
            }
        }

        &.no-starred {
            display: none;

            svg {
                stroke: none;
                fill: black;

                &:hover {
                    fill: #f2d600;
                }
            }
        }
    }
}