.pop-up-menu {
  position: absolute;
  background-color: #fff;
  // height: 91vh;
  right: -340px;
  top: 0px;
  z-index: 3;
  width: 340px;
  transition: all 0.5s;
}

.back-menu {
  position: absolute;
  left: 0;
  top:7px
}

.menu-open {
  right: 0px;
}


.menu-content-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
  height: 85vh;
}