.toolbar {
  height: auto;
  padding: 8px 4px 4px 12px;
  position: fixed;
  display: flex;
  z-index: 2;
  top: 44px;
  //   justify-content: space-between;
  width: 100%;

  &-right,
  &-left {
    display: flex;
    flex: 1;
  }

  &-right {
    flex-direction: column;
    align-items: flex-end;
  }

  // justify-content: center;
  // align-items: center;
}

//     &-left {
//         float: left;
//     }

//     &-right {
//         float: right;
//     }
// }

// .toolbar-btn {
//     background-color: hsla(0, 0%, 41%, 0.651);
//     border-radius: 3px;
//     cursor: default;
//     float: left;
//     font-size: 14px;
//     height: 32px;
//     margin: 0 4px 4px 0;
//     position: relative;
//     text-decoration: none;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .board-toolbar-title-container {
.board-toolbar-title-container {
  border-radius: 3px;
  margin-right: 4px;
  height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background-color: #ffffff52;
    cursor: pointer;
  }
}

.board-toolbar-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 12px;
  color: #fff;
  line-height: 1;
  margin: 0;
  margin-top: 6px;
}

.toolbar-btn {
  border-radius: 3px;
  color: #fff;
  cursor: default;
  background-color: #ffffff3d;
  float: left;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 4px 0;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  padding: 8px;


  &:hover {
    background-color: #ffffff52;
    cursor: pointer;
  }
}

.star-btn {
  display: flex;
  align-items: center;


}

.toolbar-divider {
  border-left: 1px solid #ffffff3d;
  float: left;
  height: 16px;
  margin: 8px 8px 12px 4px;
}

.toolbar-members {
  display: flex;
  width: 18%;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-right: 4px;
  &>* {
    margin-left: -15px;
  }
}

.toolbar-menu-btn {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}

.filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;

  svg {
    margin-bottom: 3px;
  }
}

.tool-title {
  margin-bottom: 3px;
}

.share-btn {
  margin: 0;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px 12px;
  position: relative;
  overflow: hidden;
  padding-left: 8px;
  background-color: #FFFFFF;
  color: #000000;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 32px;
  margin-top: 2px;

  &:hover {
    background-color: #ffffffe6;
  }

  svg {
    margin-top: 2px;
  }


}


@media screen and (max-width: 700px) {
  .toolbar-members {
    align-items: flex-start;
  }
}